 <header class="">
      
        <button class="btn btn-outline-secondary m-4 font-weight-bold p-1" onclick=window.history.back() style="border-radius: 24px; border: 4px solid lightgrey; font-size: 20px">&nbsp;&nbsp;<i class="fa fa-angle-left font-weight-bold"></i> Back&nbsp;&nbsp;</button>
       
      </header>
 
 
 <h1 class="font-weight-bold text-center"><i class="icon fa fa-rss bg-rss" style="font-size: 7vmin"></i>&nbsp;&nbsp;Choose a trigger</h1> 
          <p class=" text-center text-secondary">Step 2 of 6</p>
        


<div class="row text-left font-weight-bold text-white">
    
      <div class="col-3 ml-5">
      <div class="card tr bg-rss p-4 w3-round-large" onclick=window.location='rss/0'>
      <h3 class="">New Feed Item</h3>
      <h5 class>This Trigger fires every time a new item is added to the feed you specify.</h5>
</div>
</div>

      <div class="col-3">
      <div class="card tr bg-rss p-4 w3-round-large" onclick=window.location='rss/1'>
      <h3 class="">New Feed Item Matches</h3>
      <h5 class>This Trigger fires every time a new item in the feed you specify contains a particular keyword or simple phrase.</h5>
      </div>
      </div>
 
  </div>

