 <!-- Page Header -->
    <header class="bg-primary">

        <h1 class="hh font-weight-bold text-xl-center text-white p-5">New Applet</h1>

    </header>

     <!-- Main Content -->
    <div class="container mt-4">
      


   <h1 class="display-2 font-weight-bold text-xl-center">if <span class="tlink">{{fa-icon "plus-square"}}{{#link-to 'service-list' class="tlink"}}this{{/link-to}}</span> then that</h1>

    </div>

    <hr>