

  <div class="row justify-content-center">
    <div class="col-5 text-left font-weight-bold text-white">
      <div class="w3-panel bg-rss p-4 w3-round-large">
      <h3 class="">New feed item</h3>
      <h5 class>This Trigger fires every time a new item is added to the feed you specify.</h5>

      <h4>Feed</h4>
    <form class="form-group" action="conf.html">  
      <input id="rss-url" type="url" class="form-control center thickBorder w3-opacity" required>
      <small class="text-muted">for feed URL requirements, visit the help page</small>  
      
        <div class="row justify-content-center mt-3">
          <button class="btn btn-lg center"  style="border-radius: 24px" type="submit" require>&nbsp;Create trigger&nbsp;</button>
        </div> 
    </form>
      </div>
  </div>
</div>
