<div class="row text-left font-weight-bold text-white">
    
      <div class="col-3 ml-5">
      <div class="card tr bg-rss p-4 w3-round-large" onclick=window.location='rss'>
      <h3 class="">New Feed Item</h3>
      <h5 class>This Trigger fires every time a new item is added to the feed you specify.</h5>
</div>
</div>

      <div class="col-3">
      <div class="card tr bg-rss p-4 w3-round-large" onclick=window.location='rss/1'>
      <h3 class="">New Feed Item Matches</h3>
      <h5 class>This Trigger fires every time a new item in the feed you specify contains a particular keyword or simple phrase.</h5>
      </div>
      </div>
 
  </div>